@import "tailwindcss";


/* body{
    margin: 0;
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header, .menu-header{
    display: flex;
    justify-content: space-between;
    background-color: #e29e9e;
    padding: 10px;
    color: #fff;
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.nav-items > ul{
    display: flex;
    list-style: none;
    padding: 0px 20px;
    font-size: 24px;
    color: #fff;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.login-btn{
    margin: auto;
    height: 25px;
}

{can't use simple .cart-container because specificity has more preference than generelc class
Inline styles > IDs > Classes > Elements

And more selectors usually increase specificity.}

.nav-items > ul > li.cart-container{  
    margin-top: 0px;
    margin-left: 0px;
}
.cart-logo{
    width: 50px;
}
.main-container{
    flex:1
}
.search-filter-container{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.restraunt-container , .shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.restraunt-card{
    width: 200px;
    padding: 10px;
    background-color: #fff2f2;
    margin: 10px;
    border-radius: 10px;
    
}
.shimmer-card{
    width: 200px;
    height: 300px;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;
    
}
.restraunt-card:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px #e29e9e;
}
.restraunt-card img{
   width: 100%; 
   height: 50%;
   border-radius: 10px;
   object-fit: cover;
}
.footer{
    background-color: #f38888;
    bottom: 0;
    position: relative;
}
.link {
  text-decoration: none;
  color: inherit;
}
.menu-card{
    padding: 10px;
    background: #f0f0f0;
    margin: 5px;
}
.user-profile{
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 5px;
} */